/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/**
 * This injects Tailwind's component classes and any component classes
 * registered by plugins.
 */
@tailwind components;

/**
 * Component extracts created using @apply to inline any existing utility
 * classes into custom css. AKA using tailwind utility classes to create
 * custom css classes. Prevents you from having to write same button
 * utility classes over and over.
 */
.btn {
  @apply font-medium py-2 px-4 border border-transparent text-sm leading-5 rounded-md;
}
.btn-orange {
  @apply bg-orange-700 text-white transition duration-150 ease-in-out;
}
.btn-orange:hover {
  @apply bg-orange-600;
}
.btn-orange-alt {
  @apply bg-orange-300 text-orange-800 transition duration-150 ease-in-out;
}
.btn-orange-alt:hover {
  @apply bg-orange-200;
}
.btn-orange:focus,
.btn-orange-alt:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
}
.form-input {
  @apply bg-white border border-gray-300 rounded-md appearance-none py-2 px-4 leading-normal text-base;
}
.form-input:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(164, 202, 254, 0.45);
  border-color: #a4cafe;
}
.nav-link {
  @apply block px-3 py-2 rounded-md font-medium text-gray-300 transition duration-150 ease-in-out;
}
.nav-active {
  @apply bg-gray-900 text-white !important;
}

/**
 * Globals
 */
body {
  font-family: Inter, sans-serif;
}

/**
 * This injects Tailwind's utility classes and any utility classes registered
 * by plugins.
 */
@tailwind utilities;
